.itemTit{
    color: #ff8e00;
    font-weight: bold;
    font-size: 150%;
    font-family: Arial,Verdana;
    margin: 10px;
    text-align: left;
    width: 100%;

    span{ color: #fd680d; }
}
.itemTitSub{
    font-size: 80%;
    padding-left: 15px;
    text-align: left;
    margin-bottom: 10px;
}
.icnDesc dt{
    vertical-align: middle;
    text-align: center;
    margin-left: 15px;
    width: 24px;
    height: 26px;
}
.icnDesc dd{
    vertical-align: middle;
    width: 150px;
    height: 26px;
    font-family: Arial,Verdana;
    font-size:70%;
    color: #555555;
}

.itemBox,
.partsBox{
    display: inline-block;
    width: 86px;
    height: 120px;
    text-align: center;
    position: relative;
    dt img{
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
    }
    dd{
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        position: absolute;
    }
}
#wdi000,
#wdp000{display: none !important;}

.itemIcon,
.partsIcon{
    top:83px;
    left: 3px;
}
.itemNo,
.partsNo{
    font-size: 85%;
    top:85px;
    left: 26px;
}

.itemMask,
.partsMask{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    background-color: #000000;
    opacity: 0.5;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
}

.itemName,
.partsName{
    font-size: 150%;
    font-weight: bold;
    margin: 10px;
}
.itemNote,
.partsNote{
    width: 80%;
    text-align: left;
    margin: 0 auto;
        p{ margin: 10px; }
        ul{ margin: 30px auto; text-align: center; }
        li{
            display: inline-block;
            width: 40px;
            text-align: center;
            vertical-align: middle;
        }
        dt{
            margin: 25px 10px 5px 10px;
        }
        dd{
            display: inline-block;
            width: 80px;
            text-align: left;
            vertical-align: middle;
            margin: 2px;
            img{
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                }
        }
}

.itemHR{
    border: dashed 3px #999;
    border-width: 3px 0 0 0;
    margin: 15px auto;
}


@media screen and (max-width: 640px) {
    .itemHR{ border-width: 1px 0 0 0; }
}