@media screen and (min-width:1024px) {
    body{
        width:100%;
        background-color: #000;
    }
}

@media screen and (max-width: 500px) {
    body{
        width:100%;
        background-color: #999999;
    }
}